[Unit]
Description=cryoplus 2 datalogger
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/spot_ve/bin/python /home/pi/cryoplus2server/cp2s.py
WorkingDirectory=/home/pi/cryoplus2server
User=pi

[Install]
WantedBy=multi-user.target