[Unit]
Description=cryoplus 2 datalogger
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/laeb/venv/bin/python /home/laeb/cryoplus2server/mqtt_client.py
WorkingDirectory=/home/laeb/cryoplus2server
User=laeb

[Install]
WantedBy=multi-user.target